// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'OpenSans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #f5c518;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$nav-height: 50px;
$logo-width: 70px;
$ham-menu-width: 23px;
$profile-icon-width: 23px;

$movie-card-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

$forteen-pixels-font: 14px;
$twelve-pixels-font: 12px;
$twenty-five-pixels-font: 25px;
